.FilmsByCategoryList {
    color: #fff;
    background-color: black;
}

.films-by-category-list-container {

    padding-top: 200px;
    background-color: black;
    padding-bottom: 200px;
}

.movie-list-panel {

    padding: 50px;
}

.wrap-container {
    padding-top: 100px;
    flex-wrap: wrap;
    display: flex;
    height: 350px;
}